.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
}

#profile-img {
    position: relative;
    display: block;
    float: left;
}

#profile-div {
    bottom: 0%;
    left: 0%;
    position: absolute;
}

#greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#my-name {
    letter-spacing: .05em;
}

#my-username {
    letter-spacing: .05em;
    font-weight: bold;
}

#social-links {
    position: absolute;
    bottom: .75%;
    right: .75%;
}

#light-bulb-pos {
    position: absolute;
    top: .75%;
    right: .75%;
    font-size: 1.5em;
    padding-left: .75%;
    padding-right: .75%;
}

#social-icons {
    font-size: 2em;
}

.has-light-bkg {
    background-color: #57C5AC;
}

.has-dark-bkg {
    background-color: #333333;
}